<div class="flex flex-row items-center justify-between border-b-2">
        
    <button type="button" class="w-32 py-2 px-4 border-r-2 hover:bg-slate-200" (click)="deltaYear(-1)">Previous</button>
    <h2 class="mx-3 w-32 text-center">{{ year ? year + " year" : "Any year" }}</h2>
    <button type="button" class="w-32 py-2 px-4 border-l-2 hover:bg-slate-200" (click)="deltaYear(1)">Next</button>

</div>

<div class="flex flex-row items-center justify-between border-b-2">
    
    <button type="button" class="w-32 py-2 px-4 border-r-2 hover:bg-slate-200" (click)="deltaMonth(-1)">Previous</button>
    <h2 class="mx-3 w-32 text-center">{{ monthName ? monthName : "Any month" }}</h2>
    <button type="button" class="w-32 py-2 px-4 border-l-2 hover:bg-slate-200" (click)="deltaMonth(1)">Next</button>

</div>

<table class="stripe hover w-full py-4 px-2" >

    <thead class="border-gray-700 border-b-[1px]">
        
        <tr>
            <th data-priority="1" class="p-2">Date & Time</th>
            <th data-priority="2" class="p-2">T</th>
            <th data-priority="3" class="p-2">Humidity</th>
            <th data-priority="4" class="p-2">Air Pressure</th>
            <th data-priority="5" class="p-2">Wind</th>
            <th data-priority="6" class="p-2">Clouds</th>
            <th data-priority="7" class="p-2">VV</th>
            <th data-priority="8" class="p-2">State</th>
        </tr>

    </thead>
    <tbody class="text-xs">

        <tr *ngFor="let forecast of data" >

            <td class="p-2 py-3">
                <div class="flex flex-row">
                    <svg class="h-4 w-4 text-green-700 mr-1"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <rect x="4" y="5" width="16" height="16" rx="2" />  <line x1="16" y1="3" x2="16" y2="7" />  <line x1="8" y1="3" x2="8" y2="7" />  <line x1="4" y1="11" x2="20" y2="11" />  <rect x="8" y="15" width="2" height="2" /></svg>
                    {{ forecast.dateTime | date:'MMM d, y, H:mm' }}
                </div>
            </td>
            
            <td class="p-2 py-3">
                <div class="flex flex-row">
                    <svg class="h-4 w-4 text-red-500 mr-1"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M10 13.5a4 4 0 1 0 4 0v-8.5a2 2 0 0 0 -4 0v8.5" />  <line x1="10" y1="9" x2="14" y2="9" /></svg>
                    {{ forecast.t }} 
                    <svg class="h-3 w-3 text-red-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="6" cy="8" r="2" />  <path d="M20 9a3 3 0 0 0 -3 -3h-1a3 3 0 0 0 -3 3v6a3 3 0 0 0 3 3h1a3 3 0 0 0 3 -3" /></svg>
                </div>
            </td>
            
            <td class="p-2 py-3">
                <div class="flex flex-row">
                    <svg class="h-4 w-4 text-blue-600 mr-1"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M12 3l5 5a7 7 0 1 1 -10 0l5 -5" /></svg>
                    {{ forecast.humidity }} 
                    <svg class="h-3 w-3 text-blue-600 mr-1"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <line x1="19" y1="5" x2="5" y2="19" />  <circle cx="6.5" cy="6.5" r="2.5" />  <circle cx="17.5" cy="17.5" r="2.5" /></svg>
                    {{ forecast.td }}
                    <svg class="h-3 w-3 text-blue-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="6" cy="8" r="2" />  <path d="M20 9a3 3 0 0 0 -3 -3h-1a3 3 0 0 0 -3 3v6a3 3 0 0 0 3 3h1a3 3 0 0 0 3 -3" /></svg>
                </div>
            </td>
            
            <td class="p-2 py-3">
                <div class="flex flex-row">
                    <svg class="h-4 w-4 text-purple-600 mr-1"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M14 14.76V3.5a2.5 2.5 0 0 0-5 0v11.26a4.5 4.5 0 1 0 5 0z" /></svg>
                    {{ forecast.airPressure }} 
                    <span class="text-[0.5rem] text-purple-600">mm Hg</span>
                </div>
            </td>
            
            <td class="p-2 py-3">
                <div class="flex flex-row">
                    <svg class="h-4 w-4 text-teal-600 mr-1"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M9.59 4.59A2 2 0 1 1 11 8H2m10.59 11.41A2 2 0 1 0 14 16H2m15.73-8.27A2.5 2.5 0 1 1 19.5 12H2" /></svg>
                    <app-winddir class=" mr-1" *ngFor="let dir of forecast.windDirection.split(',')" [direction]="dir"></app-winddir>
                    {{ forecast.windSpeed }}
                    <span class="text-[0.5rem] text-teal-600">m/s</span>
                </div>
            </td>
            
            <td class="p-2 py-3">
                <div class="flex flex-row">
                    <svg class="h-4 w-4 text-gray-500 mr-1"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M7 18a4.6 4.4 0 0 1 0 -9h0a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-12" /></svg>
                    {{ forecast.cloudiness }} 
                    <svg class="h-3 w-3 text-gray-500 mr-1"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <line x1="19" y1="5" x2="5" y2="19" />  <circle cx="6.5" cy="6.5" r="2.5" />  <circle cx="17.5" cy="17.5" r="2.5" /></svg>
                    {{ forecast.h }} 
                    <span class="text-[0.5rem] text-gray-500">m</span>
                </div>
            </td>
            
            <td class="p-2 py-3">
                <div class="flex flex-row">
                    <svg class="h-4 w-4 text-indigo-500 mr-1"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
                    </svg>              
                    {{ forecast.vv }} 
                    <span class="text-[0.5rem] text-indigo-600">km</span>
                </div>
            </td>
            
            <td class="p-2 py-3">
                <div class="flex flex-row">
                    <svg class="h-4 w-4 text-indigo-500 mr-1"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />  <circle cx="12" cy="7" r="4" /></svg>
                    {{ forecast.weatherState }} 
                </div>
            </td>

        </tr>

    </tbody>
</table>

<div class="flex flex-row justify-between px-3 items-center border-t-2">
    <div>
        <label for="count" class="p-1 mr-2">Items Count:</label>
        <select class="p-1 border rounded-md" id="count" [(ngModel)]="count" #countSelect="ngModel" (change)="loadData()">
            <option value="5">5 items</option>
            <option value="10">10 items</option>
            <option value="20">20 items</option>
            <option value="50">50 items</option>
        </select>
    </div>

    <div class="flex flex-row items-center">
        <button type="button" class="m-1 py-2 px-4 border rounded-md hover:bg-slate-400" (click)="prevPage()">Previous</button>
        <h2 class="mx-3">{{ page + 1 }}</h2>
        <button type="button" class="m-1 py-2 px-4 border rounded-md hover:bg-slate-400" (click)="nextPage()">Next</button>
    </div>
</div>