<div class="flex-col flex ">

    <a routerLink="/" class="border-b-2 m-1 p-2 flex flex-row items-center justify-between">
        Home
        <span class="float-right m-2">
            <svg class="h-4 w-4 text-gray-800"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <polyline points="9 6 15 12 9 18" /></svg>
        </span>
    </a>
    <a routerLink="/archive" class="border-b-2 m-1 p-2 flex flex-row items-center justify-between">
        Archive
        <span class="float-right m-2">
            <svg class="h-4 w-4 text-gray-800"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <polyline points="9 6 15 12 9 18" /></svg>
        </span>
    </a>
    <a routerLink="/upload" class="border-b-2 m-1 p-2 flex flex-row items-center justify-between">
        Load data
        <span class="float-right m-2">
            <svg class="h-4 w-4 text-gray-800"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <polyline points="9 6 15 12 9 18" /></svg>
        </span>
    </a>

</div>
